#heading{
    text-align: center;
    font-family: Candara;
    color : rgb(160, 9, 9);
    font-size: 46px;
    margin-top: 10px;

}

#nav-bar {
     margin-bottom: 125px;
}
#nav-bar #container ul{
    float:right;
}
#nav-bar #container ul li{
    float:left;
    list-style-type:none;
}
#nav-bar #container ul{
    text-decoration:none;
    color:white;
	font-family:arial black;
    font-size:16px;
    margin-right:60px;
    
}
#nav-bar #container ul li {
    display:inline-block;
    padding:15px;
    margin:5px;
    margin-bottom:10px;
    width: 160px;
}
#nav-bar #container ul li ul :hover{
    background-color:white;
    color:black;
    border-radius:22px;
    padding:12px;
    text-align: left;
     
}
#container ul ul {
	display :none;
	position:absolute;
    margin-bottom:16px;
    float: left;
     	 
}
 
#container ul li:hover > ul{
    display:block;
     
     
} 

ul:focus{
    outline: none;
}

li:focus{
    outline: none;
  }